.main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  width: 400px;
  text-align: center;
  border: 1.2px solid black;
  margin: 1rem;
  border-radius: 6px;
}

img {
  margin-top: 1rem;
  width: 380px;
  border-radius: 6px;
}

.dog {
  margin-bottom: 1.5rem;
  padding: 0.4rem;
  background-color: rgb(159, 75, 75);
  border: none;
  color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
}

.dog:hover {
  font-size: 1.1rem;
}

.cat {
  margin-bottom: 1.5rem;
  padding: 0.4rem;
  background-color: rgb(120, 163, 164);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cat:hover {
  font-size: 1.1rem;
}
